@model VehicleDetail

@{
    ViewData["Title"] = Model.LicensePlateNumber;
}

<div class="text-center">
    <h2 class="display-4">Vehicle Details</h2>
</div>
<h3>License Plate: @Model.LicensePlateNumber</h3>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Year)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.Year)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Color)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.Color)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.Make)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.Make)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model=>model.ModelName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model=>model.ModelName)
    </dd>

    <table class="table">
        <thead>
            <tr>
                <th>Issued Id</th>
                <th>Issued Date</th>
                <th>Expiration Date</th>
                <th>Parking Garage</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var VL in Model.VehicleLocations)
            {
                <tr>
                    @foreach(var rev in VL.Reservations)
                    {
                        <td>@rev.IssuedNumber</td>
                        <td>@rev.IssueDate</td>
                        <td>@rev.ExpirationDate</td>
                        <td>@VL.Location.Name</td>
                    }
                </tr>
            }
        </tbody>
    </table>


</dl>

<div>
    <a asp-action="Edit" asp-route-id=@Model.Id>Edit</a> |
    <a asp-action="Index">Back To List</a>
</div>
